{{ '{% extends "' ~ layout ~ '" %}' }}
{% if theme %}

{{ "{% form_theme edit_form '"~ theme ~"' %}" }}
{% endif %}

{{ '{% block title %}' }}
{{ "{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': '" }}{{ entity }}{{ "'}, '"}}{{ bundle }}{{"') }}" }}
{{ '{% endblock %}' }}

{{ '{% block ' ~ bodyBlock ~ ' %}' }}
    <h2>{{ "{{ 'views.edit.edit'|trans({'%entity%': '" }}{{ entity }}{{ "'}, '"}}{{ bundle }}{{"') }}" }}</h2>

    <form action="{{ "{{ path('"~ route_name_prefix ~"_update', {id: "~ entity|lower ~".id}) }}" }}" method="post" {{ "{{ form_enctype(edit_form) }}" }} class="form-horizontal">

        {# The form is split into 2 sections (4 fields in 1st) to DEMONSTRATE ONLY bootstrap layout. #}
        <div class="well well-small">
            <legend>Section 1.</legend>
            <fieldset>

            {%- for field, metadata in fields %}
               
                {%  if loop.index == 4 %}
            </fieldset>
        </div>
        <div class="well well-small">
            <legend>Section 2.</legend>
            <fieldset>
                {% endif %}
                
                {%- if field != 'id' %}

                    {{ '{{ form_row(edit_form.'~ field|replace({'_': ''}) ~', {\'form_type\': \'horizontal\'}) }}' }}
                {%- endif -%}
            {%- endfor %}
            </fieldset>
            
            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-plus"> </i>{{ "{{ 'views.edit.editbutton'|trans({}, '"}}{{ bundle }}{{"') }}" }}</button>
            </div>
            
            {% set hide_edit, hide_delete = true, false %}
            {% include 'crud/views/others/record_actions.html.twig.twig' %}
        
        </div>
        
    </form>

{{ '{% endblock %}' }}
