{{ '{% extends "' ~ layout ~ '" %}' }}

{{ '{% block title %}' ~ "{{ '%entity% list'|trans({'%entity%': '"~ entity ~"'}, 'admin') }}" ~ '{% endblock %}' }}

{%- if withSort %}

{{ "{% macro thead(name, field, label) %}
    {% spaceless %}
        {% set sort = app.session.get('sort.' ~ name) %}
        {% if sort and sort.field == field %}
            {% if sort.type == 'DESC' %}
                <a href=\"{{ path('"~ route_name_prefix ~"_sort', {field: field, type: 'ASC'}) }}\">{{ label }} <i class=\"icon-sort-down\"></i></a>
            {% elseif sort.type == 'ASC' %}
                <a href=\"{{ path('"~ route_name_prefix ~"_sort', {field: field, type: 'DESC'}) }}\">{{ label }} <i class=\"icon-sort-up\"></i></a>
            {% endif %}
        {% else %}
            <a href=\"{{ path('"~ route_name_prefix ~"_sort', {field: field, type: 'ASC'}) }}\">{{ label }} <i class=\"icon-sort\"></i></a>
        {% endif %}
    {% endspaceless %}
{% endmacro %}" }}

{{ "{% from _self import thead %}" }}

{% endif -%}

{% import "crud/views/others/macros.html.twig.twig" as macros %}


{{ '{% block ' ~ bodyBlock ~ ' %}' }}
    <h1>{{ "{{ '%entity% list'|trans({'%entity%': '"~ entity ~"'}, '"}}{{ bundle }}{{"') }}" }}</h1>

    {% if withFilter -%}
    {{ "{% include '"~ bundle ~":"~ entity ~":filter.html.twig' with {form: form} %}" }}
    {% endif %}

    <table class="table table-striped table-hover table-condensed records_list">
        <thead>
            <tr>
                
                {% set column_count_max=8 %}
                {% set column_count_tablet=6 %}
                {% set column_count_phone=4 %}
                
            {%- for field, metadata in fields %}

                {% set responsive_classes = '' %}
                {% if loop.index > column_count_tablet %}
                    {% set responsive_classes = 'hidden-phone hidden-tablet' %}
                {%- elseif loop.index > column_count_phone %}
                    {% set responsive_classes = 'hidden-phone' %}
                {% endif %}


                {% if loop.index > column_count_max %}
                <!--
                {% endif %}
                
                <th scope="col" class="{{ responsive_classes -}}">
                {%- if withSort -%}

                {{ "{{ thead('" ~ entity|lower ~"', '"~ field ~"', '"~ field|replace({'_': ' '})|un_camel_case|title ~"') }}" }}
                {%- else -%}
                {{ field|replace({'_': ' '})|un_camel_case|title }}
                
                {%- endif -%}
                </th>
                {% if loop.index > column_count_max %}
                -->
                {% endif %}
                
            {%- endfor %}

                <th scope="col">{{ "{{ 'Actions'|trans({}, '"}}{{ bundle }}{{"') }}" }}</th>
            </tr>
        </thead>
        <tbody>
        {{ '{% for '~ entity|lower ~' in ' ~ (usePaginator ? 'paginator' : 'entities') ~ ' %}' }}
            <tr>

        {%- for field, metadata in fields %}
            {%- if loop.first and ('show' in actions) %}
                <td><a href="{{ "{{ path('"~ route_name_prefix ~"_show', {id: "~ entity|lower ~".id}) }}" }}">{{ '{{ '~ entity|lower ~'.'~ field|replace({'_': ''}) ~' }}' }}</a></td>

            {%- else %}
                
                {% set responsive_classes = '' %}
                {% if loop.index > column_count_tablet %}
                    {% set responsive_classes = 'hidden-phone hidden-tablet' %}
                {%- elseif loop.index > column_count_phone %}
                    {% set responsive_classes = 'hidden-phone' %}
                {% endif %}

                {% if loop.index > column_count_max %}
                <!--
                {% endif %}
                
                <td class="{{- responsive_classes -}}">
                    {{ macros.field_type_resolve(field, entity, metadata) }}
                </td>
                {% if loop.index > column_count_max %}
                -->
            {% endif %}
                
            {%- endif %}

            {%- if loop.last %}

                <td>
                    {% include "crud/views/others/actions.html.twig.twig" %}
                </td>

            {%- endif %}
        {%- endfor %}

            </tr>
        {{ '{% endfor %}' }}
        </tbody>
    </table>

    {% if usePaginator -%}
    {{ '{{ knp_pagination_render(paginator) }}' }}
    {%- endif %}

    {% if 'new' in actions %}

    <ul class="new_entry unstyled">
        <li>
            <a class="btn btn-primary" href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}">
                <i class="icon-plus"></i>  {{ "{{ 'views.index.createnew'|trans({}, '"~ bundle ~"') }}" }} {{ entity }}
            </a>
        </li>
    </ul>
    {% endif %}

{{ '{% endblock %}' }}
