{{ '{% extends "' ~ layout ~ '" %}' }}
{% if theme %}

{{ "{% form_theme form '"~ theme ~"' %}" }}
{% endif %}

{{ '{% block title %}' ~ "{{ 'views.new.creation'|trans({'%entity%': '"~ entity ~"'}, '"}}{{ bundle }}{{"')|un_camel_case|title }}" ~ '{% endblock %}' }}

{{ '{% block ' ~ bodyBlock ~ ' %}' }}
    <h2>{{ "{{ 'views.new.creation'|trans({'%entity%': '"~ entity ~"'}, '"}}{{ bundle }}{{"')|un_camel_case|title }}" }}</h2>

    <form novalidate action="{{ "{{ path('"~ route_name_prefix ~"_create') }}" }}" method="post" {{ "{{ form_enctype(form) }}" }} class="well form-horizontal">
        <div class="">
            <legend>Section Heading</legend>
            <fieldset>
                {{ "{{ form_widget(form, {'form_type': 'horizontal'}) }}" }}
                
                <div class="form-actions">
                    <button type="submit" class="btn btn-success"><i class="icon-plus"> </i>{{ "{{ 'views.new.create'|trans({}, '"}}{{ bundle }}{{"') }}" }}</button>
                </div>
            </fieldset>
        </div>
            
    </form>

    {% set hide_edit, hide_delete = true, true %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}

{{ '{% endblock %}' }}