{{ '{% extends "' ~ layout ~ '" %}' }}

{{ '{% block title %}' ~ entity ~ '{% endblock %}' }}

{{ '{% block ' ~ bodyBlock ~ ' %}' }}

{% import "crud/views/others/macros.html.twig.twig" as macros %}

    <h2>{{ entity }}</h2>
    
    <form class="form-horizontal">
    
        {# The form is split into 2 sections (4 fields in 1st) to DEMONSTRATE ONLY bootstrap layout. #}
        <div class="well well-small">
            <legend>Section 1.</legend>
            <fieldset>
    
            {%- for field, metadata in fields %}
    
                {%  if loop.index == 4 %}
            </fieldset>
        </div>    
        <div class="well well-small">        
            <legend>Section 2.</legend>
            <fieldset>
                {% endif %}
                
                
                <div class="control-group">
                    <label class="control-label">{{ field|capitalize }}</label>
                    <div class="controls">
                        {%- if metadata.type in ['date', 'datetime','datetimetz'] %}
                            <span class="input uneditable-input">{{ macros.field_type_resolve(field, entity, metadata) }}</span>
                        {%- else %}
                            <span class="input uneditable-input">{{ macros.field_type_resolve(field, entity, metadata) }}</span>
                        {%- endif %}
                    </div>
                </div>
    
            {%- endfor %}
    
            </fieldset>

            {% set hide_edit, hide_delete = false, false %}
            {% include 'crud/views/others/record_actions.html.twig.twig' %}
            
        </div>
    </form>
    
{{ '{% endblock %}' }}
